
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 3%;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.header{
    align-self: flex-start;
    padding-left: 5%;
}
.uploadContainer{
    position: fixed;
    right: 5%;
    top: 5%;
}
.categoryText{
    align-self: flex-start;
    padding-left: 5%;

}
.categoryContainer{
    width: 100%;
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category{
    width: 60%;
    display: flex;
    gap: 2%;
}
.uploadButton{
    cursor: pointer;
    border: none;
    background-color: rgb(192, 212, 255);
    color: white;
    font-size: 1.5em;
    padding: 2vh 1vw;
    border-radius: 8px;
    font-weight: bolder;
    text-shadow: rgb(86, 154, 173) 1px 0 10px;
    box-shadow: 10px 5px 5px rgb(195, 196, 196);
    transition: all 0.3s ease;
}
.uploadButton:hover{
    scale: 1.1;
    box-shadow: 7px 2px 3px rgb(195, 196, 196);
}
.categoryContainer button{
    cursor: pointer;
    white-space: nowrap;
    padding: 1% 2%;
    background-color: rgb(192, 216, 255);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
}
.categoryContainer button:hover{
    background-color: rgb(139, 184, 255);
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-10%);
}
.selectedButton{
    background-color: rgb(80, 92, 110) !important; 
    scale: 1.1;
}
.searchContainer button{
    padding: 5%;
}
.adultButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: rgb(255, 88, 88) !important;
}
.selectedAdultButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: rgb(254, 108, 125) !important; 
    scale: 1.1;
}
.body{
    width: calc(100vw - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}
.table{
    width: 90%;
    border-collapse: collapse;
}
.thtr th{
    padding: 10px;
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
}
.thtr th:nth-child(1){
    width: 70%;
}
.table tbody tr {
    border-bottom: 1px solid rgb(199, 199, 199);
}
.table tbody tr td{
    padding: 10px;
    text-align: center;
}
.table tbody tr td:nth-child(1){
    font-size: 1em;
    cursor: pointer;
    padding-left: 3%;
    text-align: start;
    transition: font-size 0.2s ease;
}
.table tbody tr td:nth-child(1):hover{
    font-size: 1.1em;
    font-weight: bold;
}
.table tbody tr td:nth-child(2){
    cursor: pointer;
}
.download{
    cursor: pointer;
    user-select: none;
    background-color: rgb(0, 80, 130);
    border: none;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 5px;
    transition: scale 0.2s ease;
}
.download:hover{scale: 1.1;}



.fileContainer{
    display: flex;
}