.container{
    padding-top: 10vh;
    min-width: 100vw;
    min-height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 230, 243);
}
.sectionDevider{
    margin: 100px 0px;
}
.sectionDevider::before {
    position: absolute;
    background-color:rgb(216, 230, 243);
    border: 5px solid;
    border-color: #008cba;
    border-left: 0px solid;
    border-top: 0px solid;
    padding: 10px;
    transform: rotate(45deg);
    content: "";
}
.title{
    width: 50%;
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.5em;
    white-space: pre-wrap;
}
.subTitle{
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    color:rgb(0, 0, 0);
}
.wave{
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    min-width: 5px;
}
@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
  

  
  @keyframes floatUp {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: translateY(-15px) rotate(-10deg);
      opacity: 0.6;
    }
    100% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
  
.loginButtonContainer{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 30%;
    z-index: 1000;
}
.loginButtonContainer button{
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    padding: 1em;
    color: white;
    border-radius: 7px;
    background-color: rgb(161, 197, 255);
    transition-property: transform box-shadow;
    transition-duration: 0.3s;
}
.loginButtonContainer button:hover{
    background-color: rgb(139, 184, 255);
    box-shadow: 0 5px 8px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-10%);
}
.section1, .section2{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section1h1{
    font-size: 55px;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section1Text1{
    font-size: 20px;
    transition: all 0.4s ease;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1List{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.folderBox{
  display: flex;
  flex-direction: column;
  place-items: center;
}
.folderImg{
  filter: drop-shadow(12px 8px 10px  rgba(0, 0, 0, 0.4));
}

.folderLabel {
    position: relative;
    z-index: 10;
    text-align:center;
    font-weight: bold;
    margin-top: 110px;
    background: #e7d7a7;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

.img{
    display: flex;
    justify-content: center;
    transition: all 2s ease;

}

.section2TextBox1{
    color: white;
    margin-top: 3%;
    height: 20vh;
    width: 100vw;
    background: linear-gradient(
        135deg, 
        rgb(175, 211, 253), 
        rgb(135, 187, 245), 
        rgb(175, 176, 253)
      );
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7em;
}

.section3{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.freeArrowContainer{
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.arrow span{
    position: absolute;
    top:0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 5px solid #008cba;
    border-bottom: 5px solid #008cba;
    transform: rotate(-45deg);
    animation: arrow 1.5s infinite;
    box-sizing: border-box;
}
@keyframes arrow {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

@media screen and (max-width: 768px) {
    .title{
        width: 80%;
        font-size: 33px;
    }
    .subTitle{
        font-size: 22px;
    }
    .loginButtonContainer button{
        font-size: 0.8em;
        padding: 0.7em;
    }
    .section1List{
        width: 100%;
    }
    .section1List div{
        width: 30%;
        font-size: 0.7em;
        height: 50px;
    }
  
    .section1, .section2{
        margin-top: 100px;
    }
    .section2TextBox1{
        height: 15vh;
        margin-top: 10%;
        font-size: 1.1em;
    }
    .folderImg{
      width: 30vw;
    }
    .folderLabel{
      margin-top: 50px;
      width: 150%;
      font-size: 0.5em;
      padding: 5px;
    }
   
}